:root {
    --border_color: #705919;
    --text_color: #e9bd45;
    --primary_fg_color: #1f1f2b;
    --secondary_fg_color: #32323b;
    --primary_bg_color: #101014;
    --danger_color: #952828;
    --safe_color: #2f712f;
    --danger_text: #ff4646;;
}
