@import url("colors.css");

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--text_color);
    font-size: 16px;
}

.general_btn {
    padding: 4px 10px;
    height: 30px;
    font-size: 16px;
    background-color: var(--secondary_fg_color);
    color: var(--text_color);
    border-radius: 7px;
    border: 1px solid var(--border_color);
}

.general_btn.danger_btn {
    background-color: var(--danger_color);
    color: var(--text_color);
    border-color: var(--border_color);
}

.general_btn.safe_btn {
    background-color: var(--safe_color);
    color: var(--text_color);
}

.general_btn:hover, .general_btn[toggled] {
    background-color: var(--text_color);
    border: 1px solid var(--text_color);
    color: var(--primary_bg_color);
}

.icon {
    height: 30px;
    width: 30px;
    font-size: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20%;
    background-image: url(icons/ss-48.png);
}

.list {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.notification {
    border: 2px solid var(--border_color);
    padding: 15px;
}

.error {
    border: 2px solid var(--danger_color);
    color: var(--danger_text);
    padding: 15px;
}

input[type="text"] {
    border: 1px solid var(--border_color);
    background-color: var(--primary_bg_color);
    border-radius: 7px;
    color: var(--text_color);
    font-size: 16px;
    font-family: inherit;
    padding: 5px;
}

input[type="text"]:hover {
    border: 1px solid var(--text_color);
}