@import url("../colors.css");

body {
    background-color: var(--primary_bg_color);
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.options {
    width: 600px;
}

.options.list {
    flex-direction: column;
    gap: 20px;
}

.options.elem {
    background-color: var(--primary_fg_color);
    border: 2px solid var(--border_color);
    border-radius: 10px;
    padding: 12px;
}

.packs.block {
    background-color: var(--secondary_fg_color);
    padding: 6px 20px 20px;
    border-radius: 5px;
}

.packs.elem, .packs__header.block {
    display: flex;
    background-color: #f7f7f7;
    border: 1px solid var(--border_color);
    border-radius: 10px;
    padding: 12px;
    flex-direction: column;
    background-color: var(--primary_fg_color);
}

.packs.list {
    margin-top: 10px;
    padding: 15px 0px;
    flex-direction: column;
    gap: 20px;
}

.packs__list-placeholder {
    background-color: var(--primary_fg_color);
}

.pack_name {
    margin-left: 6px;
    margin-right: 14px;
    padding: 4px 6px;
    border-radius: 3px;
}

.packs__header {
    display: flex; 
}

.packs__header.tools {
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.packs__header.subtools {
    border-top: 2px solid var(--border_color);
    margin-top: 10px;
    padding: 10px;
    gap: 10px;
}

.packs__header.subtools > .pack_name {
    margin-right: auto;
}

#noteBlock {
    margin-top: 10px;
}

.packs__header.info {
    margin-bottom: 10px;
}

.packs__header.info > .tools {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.packs__preview.block {
    padding-top: 10px;
    border-top: 1px solid var(--border_color);
}

.packs__preview.list {
    gap: 10px;
    overflow-x: scroll; 
}

.packs__preview__img {
    width: 120px;
}