@import url("../colors.css");

body {
    background-color: var(--primary_bg_color);
    color: var(--text_color);
    overflow: hidden;
}

.main {
    width: 310px;
    padding: 0 10px 0 10px;
}

.tools.block {
    padding: 0;
}

.tools.list {
    display: flex;
    justify-content: left;
    list-style-type: none;
}

.header_pack_element {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    padding: 0;
}

.header_button {
    background-color: transparent;
    border: 0;
    border-radius: 20%;
    background-image: url('../icons/ss-48.png');
}


.content {
    width: inherit;
    height: 350px;
    padding: 0;
    scrollbar-width: none;
    overflow-y: scroll; 
}

.pack.list {
    width: inherit;
    margin: 0;
}

.pack.block {
    width: inherit;
    background-color: var(--primary_fg_color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    width: inherit;
}

.pack_header {
    padding: 10px 10px 0px;
    display: flex;
    margin-bottom: 5px;
    gap: 10px;
    align-items: center;
}

.pack.list {
    flex-wrap: wrap;
    gap: 5px 5px;
    margin-bottom: 20px;
}

.pack.img_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px 5px;
    margin-bottom: 5px;
}


.sticker {
    width: 93px;
    height: 93px;
    object-fit: contain;
}